body{
    background-image: url("../img/img2.jpg") ;
    background-size: cover;

}
header{
    font-size: 2.5em;
    text-align: center;
    color: white;
}

img{
    border-radius: 50%;
}

div.menu{
    border: 2px dotted yellow;
    padding: 50px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;

}

p{
    color: white;
    
}

span.firstcolor{
    color: red;
    font-weight: bold;

}

span.secondcolor{
    color:blue;
    font-weight: bold;

}


span.thirdcolor{
    color:green;
    font-weight: bold;

}

span.forthcolor{
    color:deepskyblue;
    font-weight: bold;

}
